<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="./styles/main.css"></link>
</head>
<body class="bg-slate-900 text-slate-200" id="app">
  <!-- Navigation -->
  <div class="static bg-slate-400/75 text-black">
    <footer class="flex">
      <!-- Title -->
      <a class="px-1" href="/"><h2 class="nameSite text-3xl object-center">SocialSite!</h2></a>
      <a class="px-5 py-2" th:href="@{/about}">About</a>
      <a class="px-5 py-2" th:href="@{/user}">User Posts</a>
      <a class="px-5 py-2" th:href="@{/logout}">Logout</a>
    </footer>
  </div>
  <!-- Welcome -->
  <div class="relative">
    <img class="h-64 w-full object-none" src="./images/pexels-skylar-kang-6044235.jpg">
    <h2 class="text-3xl centered nameSite">User Home</h2>
  </div>
  <!-- Posts -->
<div class="md:container mx-auto px-20 space-y-4" id="posts">
	<div th:each="showPost : ${postList}" class="post columns-1 bg-slate-800 rounded-md p-4" id="thymeleaf">
		<h3><a th:href="@{/posts/{id}(id=${showPost.getId()})}" class="text-2xl" onclick="valueSendPost(this)"
				th:text="${showPost.getTitle()}"></a></h3>
		<p th:text="${showPost.getPostText()}"></p>
<form action="#" th:id="${showPost.getId()}" method="delete" >
  <input type="hidden" name="_method" value="delete" />
  <button type="submit" id="submitButton" onclick="deletePost()">delete</button>
</form>
	</div>
</div>
 <script src="./scripts/user.js"></script>
</body>
</html>